[Desktop Entry]
Version=1.0
Name=FFmpegGTK
Comment=Simple GTK+ frontend for FFmpeg.
Comment[ru_RU]=Простой GTK+ интерфейс для FFmpeg.
Icon=app/img/logo.png
Exec=bash -c 'cd $(dirname %k) && ./convert.py'
Terminal=false
Type=Application
Categories=Video;Application;
StartupNotify=false
